.about__title {
  font-family: "Roboto Condensed";
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

.about {
  background-image: url("../img/2005@1x.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-x: -14px;
  padding-bottom: 96px;
  padding-left: 205px;
  padding-right: 4px;
}

.about__content {
  margin-bottom: 39px;
}

.about__button {
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00b2ff;
  border: 1px solid #00b2ff;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 14px 52px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .about {
    background-size: 34%;
    padding-right: 30px;
  }

  .about__content {
    height: 212px;
    overflow: hidden;
    position: relative;

    &::after {
      content: "...";
      position: absolute;
      right: -7px;
      bottom: 4px;
    }
  }
}
