.about__title {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin-bottom: 20px;
}

.about {
  background-image: url("../img/2005@1x.webp");
  background-repeat: no-repeat;
  background-size: 18%;
  padding-bottom: 121px;
  padding-left: 209px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1224px;

  .no-webp & {
    background-image: url("../img/2005@1x.png");
  }
}

.about__content {
  margin-bottom: 49px;
}

.about__button {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00b2ff;
  border: 1px solid #00b2ff;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 14px 50px;
}

.about__text {
  margin-bottom: 21px;
}

.about__show {
  display: none;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .about {
    background-size: 34%;
    padding-right: 0;
    padding-bottom: 94px;
    background-position-x: -30px;
    padding-left: 188px;
    max-width: 722px;
  }

  .about__content {
    position: relative;
    margin-bottom: 52px;
  }

  .about__title {
    font-size: 32px;
    line-height: 140.62%;
    margin-bottom: 25px;
  }

  .about__hidden {
    display: none;
  }

  .about__show {
    display: inline-block;
    margin-left: -4px;
  }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .about {
    background-image: none;
    padding: 0 0 77px 0;
    max-width: 100%;
    margin: 0 15px;
  }

  .about__hidden {
    display: none;
  }

  .about__show {
    display: inline-block;
    margin-left: -7px;
  }

  .about__title {
    font-size: 28px;
    line-height: 140.62%;
    margin-top: 27px;
  }

  .about__text {
    margin-bottom: 41px;
    margin-top: 0;
  }

  .about__content {
    height: 351px;
    position: relative;
    margin-bottom: 37px;
  }
}
