.banner__title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
}

.banner__subtitle {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: #ffffff;
}

.banner__button {
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #ffffff;
  background: #00b2ff;
  border-radius: 5px;
}
