.checkbox {
  display: block;
  padding-left: 32px;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  left: 2px;
  top: 4px;
  opacity: 0;

  &:checked + .checkbox__icon {
    background-image: url("../img/checkbox-on.svg");
  }

  &:focus + .checkbox__icon {
    background-image: url("../img/checkbox-off.svg");
  }

  &:checked:focus + .checkbox__icon {
    background-image: url("../img/checkbox-on.svg");
  }
}

.checkbox__icon {
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  background-image: url("../img/checkbox-off.svg");

  &:hover {
    opacity: 0.8;
  }
}
