.contacts__item {
  span {
    padding-left: 10px;
  }

  &--mail {
    margin-left: 45px;
  }

  &--phone {
    margin-left: 38px;
  }

  button {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    background-color: inherit;
    color: #ffffff;
    letter-spacing: 0.05em;
    padding: 13px 27px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .contacts__item {
    padding-left: 1px;
    span {
      display: none;
    }

    &--mail {
      margin-left: 73px;
    }

    &--phone {
      margin-left: 31px;
    }

    button {
      display: none;
    }

    svg {
      height: 24px;
      width: 27px;
    }
  }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .contacts__item {
    span {
      display: none;
    }

    button {
      display: none;
    }

    svg {
      width: 25.33px;
      height: 18.67px;
    }
  }
}
