.container {
  margin: 0 auto;
  max-width: 1224px;
  padding-left: 22px;
  padding-right: 22px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .container {
    max-width: 721px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .container {
    max-width: 100%;
    margin: 0 15px;
    padding-left: 0;
    padding-right: 0;
  }
}
