.contacts__item {
  // width: 50%;

  button {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    background-color: inherit;
    color: #ffffff;
    padding: 17px 34px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .contacts__item {
    padding-left: 25px;
    span {
      display: none;
    }

    button {
      display: none;
    }

    svg {
      height: 24px;
      width: 27px;
    }
  }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .contacts__item {
    span {
      display: none;
    }

    button {
      display: none;
    }

    svg {
      width: 25.33px;
      height: 18.67px;
    }
  }
}
