.contacts__item {
  // width: 50%;

  button {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    background-color: inherit;
    color: #ffffff;
    padding: 17px 34px;
  }
}
