.container {
  margin: 0 auto;
  max-width: 1180px;
}

@media (max-width: $desktop) {
  .container {
    max-width: 988px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .container {
    max-width: 721px;
  }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .container {
    max-width: 100%;
    margin: 0 15px;
  }
}
