.features__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.features__item {
  display: flex;
  width: 50%;
  text-align: start;
  padding: 0 15px;
  margin-bottom: 31px;
  background-color: #ffffff;
  min-height: 299px;
  cursor: pointer;

  &:hover {
    .features__content {
      background: #00b2ff;
    }
    .features__title,
    .features__subtitle {
      color: #ffffff;
    }

    path {
      fill: #ffffff;
    }
  }

  &:nth-child(2n + 1) {
    padding-left: 0;
  }

  &:nth-child(2n) {
    padding-right: 0;
  }
}

.features__content {
  padding: 36px 40px 42px 45px;
  border: 1px solid #ebebeb;
  border-left: 2px solid #00b2ff;
  width: 100%;

  path {
    fill: #00b2ff;
  }
}

.features__title {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0;
  padding-top: 15px;
}

.features__subtitle {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding-top: 15px;
  text-align: left;
}

.features {
  padding-top: 115px;
  padding-bottom: 43px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .features {
    padding-top: 54px;
    padding-bottom: 0;
  }

  .features__item {
    min-height: 232px;
  }

  .features__title {
    color: #00b2ff;
    padding-top: 2px;
  }

  .features__content {
    padding: 25px 18px 17px 27px;
    background-color: #ffffff;
  }

  .features__subtitle {
    padding-top: 7px;
    color: #666666;
  }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .features {
    padding-top: 37px;
    padding-bottom: 11px;
  }

  .features__list {
    display: block;
    max-width: 100%;
  }

  .features__item {
    width: 100%;
    padding: 0;
    min-height: 232px;
    margin-bottom: 19px;

    &:nth-child(2) {
      .features__content {
        padding-right: 12px;
      }
    }
  }

  .features__content {
    padding: 24px 15px 25px 25px;
  }

  .features__title {
    font-size: 20px;
    line-height: 140.62%;
    color: #00b2ff;
    padding-top: 6px;
  }

  .features__subtitle {
    padding-top: 9px;
  }
}
