.field {
  font-family: "PT Mono", "Courier New", monospace;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: #ffffff;

  &::placeholder {
    color: #ffffff;
  }
}
