.footer-menu__title {
  font-family: "Roboto Condensed";
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1b2d37;
  margin: 0;
  padding: 4px 0 29px 0;
}

.footer-menu__list {
  list-style: none;
  margin-right: 65px;
  &:last-child {
    margin-right: 0;
  }
}

.footer-menu__wrapper {
  display: flex;
}

.footer-menu__item,
.footer-menu__link {
  color: rgba(27, 45, 55, 0.5);
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .footer-menu__list {
    font-size: 15px;
    line-height: 25px;
  }

  .footer-menu__wrapper {
    display: block;
    margin-right: 0;
  }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .footer-menu__wrapper {
    display: block;
    margin-right: 0;
  }

  .footer-menu__list {
    font-size: 15px;
    line-height: 25px;
  }
}
