.footer-menu__title {
  font-family: "Roboto Condensed";
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1b2d37;
}

.footer-menu__list {
  list-style: none;
}

.footer-menu__item,
.footer-menu__link {
  color: rgba(27, 45, 55, 0.5);
}
