.logo {
  display: flex;
}

.logo__title {
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
}

.logo__subtitle {
  font-family: "Roboto Medium";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
}

.logo__slogan {
  margin-left: 16px;
  padding-top: 6px;
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .logo {
    img {
      width: 38px;
      height: 38px;
    }
  }

  .logo__slogan {
    display: none;

    &--bottom {
      display: block;
    }
  }
}
