.main-header {
  background-color: #1b2d37;
  background-image: url("../img/banner-bg@1x.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 878px;
  overflow: hidden;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .main-header {
    min-height: 686px;
  }
}
