.main-footer__logo {
  color: #203c42;
}

.main-footer__bottom a,
.main-footer__developer {
  color: rgba(27, 45, 55, 0.5);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.main-footer__bottom {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  border-top: 1px solid rgba(27, 45, 55, 0.09);
  padding: 14px 0 14px 0;
}

.main-footer__content {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 55px;
  margin: 0 auto;
  max-width: 1415px;
}

.main-footer__column {
  display: flex;
  flex-direction: column;
  width: 25%;
  &--left {
    width: 425px;
  }
  &--middle {
    flex: 1;
  }
  &--right {
    width: 363px;
  }
}

.main-footer__copyright {
  padding-right: 59px;
}

.main-footer__company {
  padding-right: 142px;
}

.main-footer__agreement {
  padding-right: 404px;
}
