.main-menu {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  max-width: 1411px;
  margin: 0 auto;
  padding-top: 33px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 169px;
}

.main-menu__contacts {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  a {
    color: #ffffff;
  }
}
