.main-footer__logo {
  color: #203c42;
}

.main-footer__bottom a,
.main-footer__developer {
  color: rgba(27, 45, 55, 0.5);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
}
