.main-menu {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  max-width: 1411px;
  margin: 0 auto;
  padding-top: 33px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 231px;
}

.main-menu__contacts {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
  a {
    color: #ffffff;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .main-menu {
    max-width: 720px;
    padding-top: 20px;
    margin: 0 auto 118px;
  }

  .main-menu__contacts {
    width: 22%;
  }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .main-menu {
    padding-top: 17px;
  }

  .main-menu__contacts {
    width: 27%;
  }

  .main-menu__logo {
    padding-left: 17px;
  }
}
