$footerMaxWidth: 1415px;

.main-footer__logo {
  color: #203c42;
}

.main-footer__bottom a,
.main-footer__developer {
  color: rgba(27, 45, 55, 0.5);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.main-footer__bottom {
  border-top: 1px solid rgba(27, 45, 55, 0.09);
}

.main-footer__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 14px 0 14px 0;
  max-width: $footerMaxWidth;
}

.main-footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 58px;
  margin: 0 auto;
  max-width: $footerMaxWidth;
}

.main-footer__column {
  display: flex;
  flex-direction: column;
  width: 25%;

  &--left {
    width: 30.03%;
  }

  &--middle {
    flex: 1;
  }

  &--right {
    width: 23.65%;
  }
}

.main-footer__copyright {
  width: 15.7%;
}

.main-footer__company {
  width: 25.58%;

  &--top {
    display: none;
  }
}

.main-footer__agreement {
  flex: 1;
  padding-left: 14px;
}

.main-footer__developer {
  width: 14.3%;
  padding-left: 9px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .main-footer__column {
    padding-left: 25px;
    padding-right: 25px;
    width: 51%;

    &--left {
      width: 100%;
      justify-content: space-between;
      flex-direction: row;
      padding-bottom: 26px;
      margin-bottom: 36px;
      border-bottom: 1px solid rgba(27, 45, 55, 0.09);

      .main-footer__company {
        display: block;
        color: rgba(27, 45, 55, 0.5);
        text-transform: uppercase;
        font-size: 13px;
        line-height: 24px;
        letter-spacing: 0.04em;
        width: 32.58%;
        padding-top: 17px;
      }
    }
  }

  .main-footer__logo {
    margin-right: 15px;
  }

  .main-footer__content {
    padding-top: 19px;
    padding-bottom: 36px;
    flex-wrap: wrap;
  }

  .main-footer__copyright,
  .main-footer__company {
    display: none;
  }

  .main-footer__developer {
    width: 27.3%;
    text-align: right;
  }

  .main-footer__bottom-wrapper {
    padding-left: 13px;
    padding-right: 21px;
    margin-top: 7px;
  }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .main-footer {
    display: block;
  }

  .main-footer__content {
    display: block;
    padding-top: 47px;
    padding-bottom: 0;
  }

  .main-footer__bottom {
    border-top: none;
  }

  .main-footer__bottom-wrapper {
    display: block;
    padding: 27px 0;

    a {
      width: 100%;
    }
  }

  .main-footer__column {
    width: 100%;
  }

  .main-footer__column {
    padding-left: 15px;
    padding-right: 18px;
    border-bottom: 1px solid rgba(27, 45, 55, 0.09);

    &--left {
      display: block;
      width: 100%;
      padding-left: 52px;
      justify-content: space-between;
      flex-direction: row;
      padding-bottom: 48px;
      border-bottom: 1px solid rgba(27, 45, 55, 0.09);
    }

    .main-footer__company {
      display: block;
      color: rgba(27, 45, 55, 0.5);
      text-transform: uppercase;
      font-size: 13px;
      line-height: 24px;
      letter-spacing: 0.04em;
      width: 100%;

      &--top {
        margin-left: -8px;
      }
    }
  }

  .main-footer__logo {
    margin-bottom: 25px;

    img {
      width: 52px;
      height: 52px;
    }
  }

  .main-footer__copyright,
  .main-footer__company {
    display: none;
  }

  .main-footer__agreement,
  .main-footer__developer {
    display: flex;
    width: 100%;
  }

  .main-footer__agreement {
    padding-left: 52px;
    padding-bottom: 21px;
  }

  .main-footer__developer {
    padding-left: 64px;
  }
}
