.main-menu {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  max-width: 1455px;
  margin: 0 auto;
  padding-top: 33px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 231px;
  position: relative;
  z-index: 10;
  padding-left: 22px;
  padding-right: 22px;
}

.main-menu__contacts {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    color: #ffffff;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .main-menu {
    max-width: 744px;
    padding-top: 20px;
    margin: 0 auto 118px;
    padding-left: 11px;
    padding-right: 11px;
  }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .main-menu {
    padding-top: 17px;
    padding-left: 17px;
    padding-right: 17px;
  }
}
