.question {
  background: #00b2ff;
  color: #ffffff;
  background-image: url("../img/paper-airplane@1x.png"), url("../img/form-background@1x.png");
  background-repeat: no-repeat;
  background-position: 11% 12%, 100%;
}

.question__container {
  display: flex;
  justify-content: flex-end;
}

.question__title {
  font-family: "Roboto Condensed";
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
}

.question__subtitle {
  font-weight: normal;
  margin: 0;
  margin: 12px 0 40px;
}

.question__form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
  &:last-child {
    margin-bottom: 0;
  }
}

.question__field {
  width: 50%;
  margin-right: 33px;
  padding: 14px;

  &:last-child {
    margin-right: 0;
  }
}

.question__textarea {
  padding: 14px;
  width: 100%;
}

.question__field,
.question__textarea {
  font-family: "PT Mono";
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  color: #ffffff;

  &::placeholder {
    color: #ffffff;
  }
}

.question__button {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;
  background: #00b2ff;
  text-transform: uppercase;
  color: #ffffff;
  width: 50%;
  margin-right: 33px;
}

.question__form {
  display: block;
  max-width: 672px;
  padding-top: 104px;
  padding-bottom: 114px;
}

.question__consent {
  color: #ffffff;
  opacity: 0.8;
  margin: 0;
  width: 50%;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .question {
    background-image: none;
  }

  .question__container {
    justify-content: center;
  }

  .question__form {
    max-width: 589px;
    padding-top: 83px;
    padding-bottom: 103px;
  }

  .question__title {
    font-size: 32px;
    line-height: 140.62%;
  }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .question {
    background-image: none;
  }

  .question__title {
    font-size: 28px;
    line-height: 140.62%;
  }

  .question__form {
    max-width: 290px;
    padding-top: 67px;
    padding-bottom: 40px;
  }

  .question__form-group {
    display: block;
  }

  .question__subtitle {
    margin-bottom: 30px;
  }

  .question__field {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .question__button {
    width: 100%;
    margin: 0;
    padding: 14px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .question__textarea {
    height: 104px;
  }

  .question__consent {
    width: 100%;
  }
}
