.question {
  background: #00b2ff;
  color: #ffffff;
  background-image: url("../img/form-background@1x.png");
  background-repeat: no-repeat;
  background-position: 100%;
  position: relative;
  background-size: 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/form-background@2x.png");
  }
}

.question__wrapper {
  display: flex;
  max-width: 1393px;
  padding-left: 22px;
  padding-right: 22px;
  margin: 0 auto;
}

.question__image {
  position: relative;
  left: -101px;
  top: 2px;

  img {
    width: 100%;
    height: 568px;
    object-fit: contain;
    object-position: bottom left;
  }
}

.question__title {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
}

.question__subtitle {
  font-weight: normal;
  margin: 0;
  margin: 8px 0 48px;
}

.question__form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;

  &:last-child {
    margin-bottom: 0;
  }

  &--submit {
    margin-top: 43px;
  }
}

.question__field {
  width: 50%;
  margin-right: 33px;
  padding: 14px;
  padding-left: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.question__textarea {
  padding: 14px;
  padding-left: 19px;
  width: 100%;
  height: 157px;
  resize: none;
}

.question__button {
  width: 51%;
  margin-right: 33px;
  padding: 12px 15px;
}

.question__form {
  display: block;
  padding-top: 92px;
  padding-bottom: 113px;
  width: 100%;
}

.question__consent {
  color: #ffffff;
  opacity: 0.8;
  margin: 0;
  width: 51%;
  padding: 6px 4px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .question {
    background-image: none;
  }

  .question__wrapper {
    display: block;
    max-width: 636px;
  }

  .question__field,
  .question__textarea {
    padding-left: 21px;
  }

  .question__image {
    display: none;
  }

  .question__form {
    padding-top: 83px;
    padding-bottom: 104px;
  }

  .question__title {
    font-size: 32px;
    line-height: 140.62%;
  }

  .question__subtitle {
    margin: 13px 0 52px;
  }

  .question__form-group {
    &--submit {
      margin-top: 53px;
    }
  }

  .question__button {
    margin-right: 36px;
    padding: 12px 60px;
  }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .question {
    background-image: none;
  }

  .question__image {
    display: none;
  }

  .question__wrapper {
    display: block;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 15px;
  }

  .question__title {
    font-size: 28px;
    line-height: 140.62%;
    margin-bottom: 13px;
  }

  .question__form {
    max-width: 100%;
    padding-top: 30px;
    padding-bottom: 36px;
  }

  .question__form-group {
    display: block;
    margin-bottom: 30px;

    &--submit {
      margin-top: -6px;
    }
  }

  .question__subtitle {
    margin-bottom: 26px;
  }

  .question__field {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
    padding-bottom: 18px;
    padding-top: 12px;
    padding-left: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .question__button {
    width: 100%;
    padding: 14px;
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    margin: 0 0 25px;
  }

  .question__textarea {
    height: 104px;
    padding-top: 12px;
    padding-left: 16px;
  }

  .question__consent {
    width: 100%;
  }

  .question__checkbox {
    padding-left: 29px;
  }

  .question__checkbox-icon {
    left: -4px;
    top: 1px;
  }
}
