.services {
  background: #1b2d37;
  padding-top: 93px;
  padding-bottom: 127px;
}

.services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;

  a {
    color: #ffffff;
  }
}

.services__title {
  font-family: "Roboto Condensed";
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
  margin: 0;
  padding-bottom: 34px;
}

.services__subtitle {
  font-family: "Roboto Condensed";
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  padding: 53px 169px 0 44px;
}

.services__item {
  width: 31%;
  height: 620px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &--production {
    background-image: url("../img/services-image1@1x.png");
  }

  &--mounting {
    background-image: url("../img/services-image2@1x.png");
  }

  &--lighting {
    background-image: url("../img/services-image3@1x.png");
  }
}

.services__button-more {
  width: 63px;
  height: 63px;
  background-color: #00b2ff;
  bottom: 0;
  right: 0;
  position: absolute;

  svg {
    position: absolute;
    right: 26px;
    top: 25px;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .services {
    padding: 53px 22px 78px;
  }

  .services__list {
    display: block;
  }

  .services__item {
    width: 100%;
    height: 256px;
    background-size: cover;
    background-repeat: no-repeat;

    &--production {
      background-image: url("../img/services-image1-tablet@1x.png");
      margin-bottom: 46px;
    }

    &--mounting {
      background-image: url("../img/services-image2-tablet@1x.png");
      margin-bottom: 46px;
    }

    &--lighting {
      background-image: url("../img/services-image3-tablet@1x.png");
    }
  }

  .services__title {
    font-size: 32px;
    line-height: 140.62%;
  }

  .services__subtitle {
    max-width: 234px;
    padding: 53px 38px 0 44px;
  }
}
