.social-media__list {
  list-style: none;
}

.social-media__list {
  display: flex;
  margin-top: 54px;
}

.social-media__item {
  margin-right: 16px;
  &:last-child {
    margin-right: 0;
  }
}

.social-media__link {
  display: inline-block;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .social-media__list {
    margin-top: 12px;
  }

  .social-media__item {
    margin-right: 14px;
  }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
  .social-media__list {
    margin-left: 50px;
    margin-top: 31px;
  }
}
